#cnpopup-wrapper{background:rgba(0,0,0,0.2);
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100vh;
	display:none;
	align-items:center;
	justify-content:center;
	z-index:999999;
	padding:24px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	#cnpopup-close{
		text-decoration:none;
		color:#FFF;
		position:absolute;
		top:15px;right:15px;
		font-size:18px;
		z-index:9999;
	}
	#cnpopup{
		padding:0px;
		position:relative;
		-webkit-box-shadow:0 10px 40px -6px rgba(0,0,0,.1);
		-moz-box-shadow:0 10px 40px -6px rgba(0,0,0,.1);
		-o-box-shadow:0 10px 40px -6px rgba(0,0,0,.1);
		box-shadow:0 10px 40px -6px rgba(0,0,0,.1);
		transform: scale(.8);
	}
	#cnpopup img{
		max-width: 100%;
		max-height: 100%;
		margin: 0px auto;
		display:block;
		width:100%;
	}
}

@media (max-width:767px){
	#cnpopup{
		transform: scale(.9)!important;
	}
}